db:
  image: 'mongo:latest'
  command: '--smallfiles --logpath=/dev/null'
  ports:
    - '27017:27017'
web:
  image: 'emnic/weddingpage:latest'
  volumes:
    - './public:/usr/src/app/public'
    - './routes:/usr/src/app/routes'
    - './views:/usr/src/app/views'    
  command: 'npm start'
  environment:
    - PORT=3000
  links:
    - db
  ports:
    - '80:3000'