<div class="row" >
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h2><b>Turist i Ängelholm</b></h2>
      <p class="lead">I år finns det en extra anledning att stanna till i Ängelholm. Staden fyller nämligen 500 år. 
      Detta uppmärksammas runt om i staden hela året. Så har man lite tid över, är det bara att passa på och bekanta sig med vår vackra stad.</p>
      <p>
        <img src="images/sunset.jpg" alt="Lergöksorkestern" style="width:100%;height:100%;">
      </p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-4">
        <h2>Staden Ängelholm</h2>
        <p>
            Ängelholm som stad grundades år 1516. Centrum låg då i den norra delen av Ängelholm, i stadsdelen som kallas för Luntertun. Det var den danske kungen Kristian den II som beslutade att centrum skulle flyttas därifrån, bl.a. på grund av sandflykten vid havet, och även p.g.a. att den nya platsen för centrum var bättre ur försvarsstrategisk synpunkt.
            <img src="images/ronnea.jpg" alt="Lergöksorkestern" style="width:100%;height:100%;"> 
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Lergöken</h2>
        <p>
            Det finns fler jubilarer i år. Det är världens enda lergöksorkester som firar 50 år. Lergöken har kommit att bli en symbol för Ängelholm och staden kallas ofta för Lergökastán.<br>
            <p>
              <img src="images/lergok.jpg" alt="Lergöksorkestern" style="width:100%;height:100%;">
            </p>
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Ängelholm 500 år</h2>
        <p>
            I år firar Ängelholm 500 år, vilket uppmärksammas med aktiviteter och jubileumsevenemang hela året. Passa på att prova Ängelholms jubileumsbakelse på något av konditorierna. Läs mer om Ängelholm 500 år <a target="_blank" href="http://ängelholm500.se/">här.</a>
        </p>
       </div>
    </div>    
    <div class="row">
	 	  <div class="col-sm-4">
	      <h2>Aktiviteter</h2>
	       <p>
            I Ängelholm finns mängder av spännande aktiviteter. Vad sägs om en kanottur på Rönne å, klättra bland trädtopparna på äventyrsbanan i Hembygdsparken, fynda på loppisen på Tingstorget, besöka Veteranbilsrallyt, flyga flygsimulator på Ängelholms Flygmuseum, åka RIB-båt i Skäldervikens vatten eller lära dig mer om Sveriges järnvägshistoria?  Läs mer om Ängelholms utbud <a target="_blank" href="http://www.engelholm.com">här.</a> 
            </p>        
	    </div>
      <div class="col-sm-4">
        <h2>Ängelholms Turistbyrå</h2>
        <p>
        För mer information, besök Matildas f.d. kollegor på Ängelholms Turistbyrå, Järnvägsgatan 5A.
        </p>
        <p>
Turistbyråns öppettider i augusti:<br>

måndag- fredag 10-17<br>
lördag  10-14
          <p>
För att beställa en broschyr om Ängelholms turismutbud, klicka <a target="_blank" href="http://engelholm.com/turistinformation/">här</a>
        </p> 
        <p>
          <img src="images/turist.jpg" alt="Lergöksorkestern" style="width:100%;height:100%;"> 
        </p>      
      </div>
    </div>
  </div> <!-- /container -->
</div>