<div class="row">
    <p>
    För att göra en anmälan lägger man till önskat antal deltagare med tillhörande information:
    </p>
    <input class="btn btn-primary" type="submit" value="Lägg till deltagare" ng-click="vm.addAttendee()">
    <br>
    <br>
</div>
<div class="row">
    <div ng-repeat="attendee in vm.list_of_attendees track by $index">
        <div class="clearfix" ng-if="($index-1)%3==2"></div>
            <div class="col-sm-3">
                <div class="container">
                    <form class="form-horizontal" ng-submit="apply()">
                        <div class="form-group">
                            <label>Person {{$index+1}}:</label>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Förnamn:</label>
                            <input type="text" class="form-control" ng-model="attendee.firstname" name="firstname">
                        </div>
                        <div class="form-group">
                            <label>Efternamn:</label>
                            <input type="text" class="form-control" ng-model="attendee.lastname" name="lastname">
                        </div>
                        <div class="form-group">
                            <label>E-post:</label>
                            <input type="text" class="form-control" ng-model="attendee.email" name="email">
                        </div>
                        <div class="form-inline">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="attendee.attend" ng-value="true"> Kommer
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="attendee.attend" ng-value="false" checked="checked"> Kommer Inte
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox" ng-show="attendee.attend">
                            <label>
                                <input type="checkbox" ng-model="attendee.transfer">  Busstransfer till fest
                            </label>  
                        </div>
                        <div class="form-inline">
                            <div class="checkbox" ng-show="attendee.attend">
                                <label>
                                    <input type="checkbox" ng-model="checked">  Specialkost
                                </label>  
                            </div>
                            <br>
                            <div class="checkbox" ng-show="checked && attendee.attend">
                                <label>
                                    <input type="checkbox" ng-model="attendee.special_food.laktos">  Laktos
                                </label>  
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend">
                                <label>  
                                    <input type="checkbox" ng-model="attendee.special_food.glukose">  Gluten
                                </label>
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend">
                                <label> 
                                    <input type="checkbox" ng-model="attendee.special_food.nuts">  Nötter
                                </label>
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend">
                                <label> 
                                    <input type="checkbox" ng-model="attendee.special_food.vegetarian">  Vegetarisk
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="form-group" ng-show="checked && attendee.attend">
                            <label>Annat:</label>
                            <input type="text" class="form-control" ng-model="attendee.special_food.other" name="other"> 
                        </div>
                    </form>
                </div>
                <button class="btn btn-md btn-primary btn-block" type="button" ng-click="vm.removeAttendee(attendee)">Ta Bort
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <br>
        <input class="btn btn-default btn-lg btn-block" type="submit" value="Spara Anmälan" ng-click="vm.submitApplication()" ng-show="vm.num_attendees > 0">
        <br>
        <br>
    </div>
</div>