<div class="row">
    <div class="col-sm-12">
        <p>
        För att göra en anmälan lägger man till önskat antal deltagare. När man är färdig klickar man på skicka sin anmälan för att meddela ifall man kommer eller inte. 
        </p>

        <input class="btn btn-primary" type="submit" value="Lägg till deltagare" ng-click="vm.addAttendee()">
        <br>
        <br>
    </div>
</div>
<div class="row" scroll-glue>
    <div ng-repeat="attendee in vm.list_of_attendees track by $index">
        <div class="clearfix" ng-if="($index-1)%3==2"></div>
            <div class="col-sm-4">
                <div class="container">
                    <form name="applicationForm" class="form-horizontal" ng-submit="apply()" novalidate>
                        <div class="form-group">
                            <h3>Deltagare {{$index+1}}:
                            <button ng-disabled="applicationForm.$invalid" id="editApplication" class="btn btn-sm pull-right" ng-class="{true: 'btn-custom', false: 'btn-custom'}[!attendee.editMode]" ng-click="vm.editAttendee(attendee)">
                            Ändra <span ng-if="!attendee.editMode" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            <span ng-if="attendee.editMode" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                            </button>
                            </h3>
                        </div>
                        <br>                     
                        <div class="form-group">
                            <label>Förnamn:</label>
                            <p ng-show="!attendee.editMode"  class="panel-title">{{attendee.firstname}}</p>
                            <input type="text" ng-show="attendee.editMode" class="form-control" ng-model="attendee.firstname" name="firstname" required>
                            <div class="error-message" ng-show="applicationForm.firstname.$error.required && attendee.editMode && !applicationForm.firstname.$pristine">
    Fyll i ett förnamn!</div>
                        </div>
                        <div class="form-group">
                            <label>Efternamn:</label>  
                            <p ng-show="!attendee.editMode"  class="panel-title">{{attendee.lastname}}</p>
                            <input type="text" ng-show="attendee.editMode" class="form-control" ng-model="attendee.lastname" name="lastname" required>
                            <div class="error-message" ng-show="applicationForm.lastname.$error.required && attendee.editMode && !applicationForm.lastname.$pristine">
    Fyll i ett efternamn!</div>
                        </div>
                        <div class="form-group">
                            <label>E-post:</label> 
                            <p ng-show="!attendee.editMode"  class="panel-title">{{attendee.email}}</p>
                            <input type="email" ng-show="attendee.editMode" class="form-control" ng-model="attendee.email" name="email">
                            <div class="error-message" ng-show="applicationForm.email.$error.email && !applicationForm.email.$pristine && attendee.editMode">
    Fyll i korrekt e-post adress!</div>
                        </div>
                        <div class="form-group" ng-show="!attendee.editMode">
                        <label>Kommer på bröllopet:</label> 
                        <p ng-show="!attendee.editMode"  class="panel-title"></p>
                        <p ng-if="attendee.attend" aria-hidden="true">Ja</p>
                        <p ng-if="!attendee.attend" aria-hidden="true">Nej</p>
                        </div>
                        <div class="form-group" ng-show="!attendee.editMode && attendee.attend">
                        <label>Busstransfer:</label> 
                        <p ng-show="!attendee.editMode"  class="panel-title"></p>
                        <p ng-if="attendee.transfer" aria-hidden="true">Ja</p>
                        <p ng-if="!attendee.transfer" aria-hidden="true">Nej</p>
                        </div>
                         <div class="form-group" ng-show="vm.checkSpecialFood(attendee) && !attendee.editMode && attendee.attend">
                        <label>Specialkost:</label> 
                        <p ng-show="!attendee.editMode"  class="panel-title"></p>
                        <p ng-if="attendee.special_food.laktos" aria-hidden="true">Laktos</p>
                        <p ng-if="attendee.special_food.glukose" aria-hidden="true">Gluten</p>
                        <p ng-if="attendee.special_food.nuts" aria-hidden="true">Nötter</p>
                        <p ng-if="attendee.special_food.vegetarian" aria-hidden="true">Vegetariskt</p>
                        <p ng-if="attendee.special_food.other" aria-hidden="true">
                        {{attendee.special_food.other}}
                        </p>
                        </div> 
                        <div class="form-group" ng-model="attendee.notes" ng-show="!attendee.editMode">
                        <label>Meddelande: </label> 
                            <p aria-hidden="true"> {{attendee.notes}}</p>
                        </div>                      
                        <div class="form-inline" ng-show="attendee.editMode" >
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="attendee.attend" ng-value="true" checked="checked"> Kommer
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="attendee.attend" ng-value="false"> Kommer Inte
                                </label>
                            </div>
                        </div>
                        <br>
                        <div class="checkbox" ng-show="attendee.attend && attendee.editMode">
                            <label>
                                <input type="checkbox" ng-model="attendee.transfer">  Busstransfer till fest
                            </label>  
                        </div>
                        <div class="form-inline">
                            <div class="checkbox" ng-show="attendee.attend && attendee.editMode">
                                <label>
                                    <input type="checkbox" ng-model="checked" ng-init="checked = vm.checkSpecialFood(attendee)">  Specialkost
                                </label>  
                            </div>
                            <br>
                            <br>
                            <div class="checkbox" ng-show="checked && attendee.attend && attendee.editMode">
                                <label>
                                    <input type="checkbox" ng-model="attendee.special_food.laktos">  Laktos
                                </label>  
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend && attendee.editMode">
                                <label>  
                                    <input type="checkbox" ng-model="attendee.special_food.glukose">  Gluten
                                </label>
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend && attendee.editMode">
                                <label> 
                                    <input type="checkbox" ng-model="attendee.special_food.nuts">  Nötter
                                </label>
                            </div>
                            <div class="checkbox" ng-show="checked && attendee.attend && attendee.editMode">
                                <label> 
                                    <input type="checkbox" ng-model="attendee.special_food.vegetarian">  Vegetarisk
                                </label>
                            </div>

                            <div "form-group" ng-show="checked && attendee.attend && attendee.editMode">
                                <br>
                                <label> 
                                Annat:
                                </label>
                                <br>
                                <input type="text" class="form-control"  ng-model="attendee.special_food.other" name="other" pattern=".{0,144}">
                                <div class="error-message" ng-show="applicationForm.other.$error.pattern && !applicationForm.other.$pristine && attendee.editMode">
                                Maxlängd uppnådd!           </div> 
                            </div>
                        </div>
                        <br>
                        <div class="form-group" ng-show="attendee.editMode">
                            <label>Meddelande:</label>
                            <input type="text" class="form-control" ng-model="attendee.notes" name="notes" pattern=".{0,144}"> 
                              <div class="error-message" ng-show="applicationForm.notes.$error.pattern && !applicationForm.notes.$pristine && attendee.editMode">
                              Maxlängd uppnådd!         
                              </div>
                        </div>
                    </form>
                    </div>
                    <button ng-show="attendee.editMode" class="btn btn-md btn-primary btn-block" type="button" ng-click="vm.removeAttendee(attendee)">Ta Bort
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button> 
                    <button ng-disabled="applicationForm.$invalid" ng-show="attendee.editMode" class="btn btn-md btn-default btn-block" type="button" ng-click="vm.saveApplication(attendee)">Spara
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    </button>                     
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <br>
        <button ng-if="vm.user.submitted" class="btn btn-md btn-default btn-block" type="submit" ng-click="vm.submitApplication()" ng-show="vm.num_attendees > 0" data-ui-sref="home.thanks">Uppdatera Anmälan
        </button>
        <button ng-if="!vm.user.submitted" class="btn btn-md btn-default btn-block" type="submit" ng-click="vm.submitApplication()" ng-show="vm.num_attendees > 0" data-ui-sref="home.thanks">Skicka Anmälan
        </button>
        <br>
        <br>
    </div>
</div>