<script>
           
  function initMapChurch() {
    
    //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
    var myLatLng = {lat: 56.239244, lng: 12.879137};

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: myLatLng,
        draggable: !("ontouchend" in document)
    });
      
    setMarkers(map);
  }
  
  // Data for the markers consisting of a name, a LatLng and a zIndex for the
  // order in which these markers should display on top of each other.
  var houseIcon = 'images/HomeIcon.png'

  // Data for the markers consisting of a name, a LatLng and a zIndex for the
  // order in which these markers should display on top of each other.
  var houses = [
    ['Resturnag Krusbäret', 56.239244, 12.879137, 8, houseIcon],
  ];
 
  function setMarkers(map) {
    // Adds markers to the map.


    // Shapes define the clickable region of the icon. The type defines an HTML
    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
    // The final coordinate closes the poly by connecting to the first coordinate.
    var shape = {
      coords: [1, 1, 1, 20, 18, 20, 18, 1],
      type: 'poly'
    };
      
    for (var i = 0; i < houses.length; i++) {
      
      var house = houses[i];

      // Marker sizes are expressed as a Size of X,Y where the origin of the image
      // (0,0) is located in the top left of the image.

      // Origins, anchor positions and coordinates of the marker increase in the X
      // direction to the right and in the Y direction down.
      var image = {
        url: house[4],
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(32, 32),
        // The origin for this image is (0, 0).
        origin: new google.maps.Point(0, 0),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(0, 32)
      };

      var marker = new google.maps.Marker({
        position: {lat: house[1], lng: house[2]},
        map: map,
        icon: image,
        shape: shape,
        title: house[0],
        zIndex: house[3]
      });
    }
  }         
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapChurch"></script>
<div class="row" >
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-4">
        <h2>Gemensam</h2>
        <p>E-post: info.brollopiagh@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h2>Matilda</h2>
        <p>Telefonummer: 0737-717717</p>
        <p>E-post: matilda.brollopiagh@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h2>Emil</h2>
         <p>Telefonnummer: 0739-804435</p>
         <p>E-post: emil.brollopiagh@gmail.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>Toastmaster 1</h2>
        <p>Telefonummer: xxxx-xxxxxx</p>
        <p>E-post: toast1.brollopiagh@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h2>Toastmaster 2</h2>
         <p>Telefonnummer: xxxx-xxxxxxx</p>
         <p>E-post: toast2.brollopiagh@gmail.com</p>
      </div>
      <div class="col-sm-4">
        <h2>Här bor vi</h2>
            <div id="map" style="height:300px"></div>
      </div>
    </div>
  </div> <!-- /container -->
</div>