<script>
           
function initMapChurch() {
  //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

  var myLatLng = {lat: 56.293525, lng: 12.919066};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
  });

  setMarkers(map);
}
          
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.
var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
var churchIcon = iconBase + 'church_maps.png'
var hotelIcon = 'images/hotel.png'

var livings = [
  ['Erikslund', 56.193904, 12.854848, 5, hotelIcon],
  ['Riverside Hotell', 56.242876, 12.863321, 1, hotelIcon],
  ['Valhallpark Hotell', 56.286594, 12.845615, 3, hotelIcon],
  ['Margretetorp', 56.335885, 12.889503, 2, hotelIcon],
  ['Ängelholms Kyrka', 56.243424, 12.860100, 4, churchIcon]
];
 
function setMarkers(map) {
  // Adds markers to the map.
   
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };

  for (var i = 0; i < livings.length; i++) {
    var living = livings[i];
    
    // Origins, anchor positions and coordinates of the marker increase in the X
    // direction to the right and in the Y direction down.
    var image = {
      url: living[4],
      
      // This marker is 20 pixels wide by 32 pixels high.
      size: new google.maps.Size(32, 32),
      
      // The origin for this image is (0, 0).
      origin: new google.maps.Point(0, 0),
      
      // The anchor for this image is the base of the flagpole at (0, 32).
      anchor: new google.maps.Point(0, 32)
    };
  
    // Shapes define the clickable region of the icon. The type defines an HTML
    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
    // The final coordinate closes the poly by connecting to the first coordinate.   
    var marker = new google.maps.Marker({
      position: {lat: living[1], lng: living[2]},
      map: map,
      icon: image,
      shape: shape,
      title: living[0],
      zIndex: living[3]
    });
  }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapChurch"></script>
<div class="row" >
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Boende</h1>
      <p class="lead">Nedan finner ni några hotell i Ängelholm med omnejd. Har man tänkt att stanna mer än en dag kan både Erikslund och Valhall Park rekomenderas då de omfattas av coop:s erbjudande</p>
      <p><div id="map" style="height:300px"></div></p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Valhall Park</h2>
        <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Riverside Hotell</h2>            
      </div>
      <div class="col-lg-4">
        <h2>Erikslund</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h2>Margretetorp</h2>
        <p class="text-danger">As of v8.0, Safari exhibits a bug in which resizing your browser horizontally causes rendering errors in the justified nav that are cleared upon refreshing.</p>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">Se detaljer &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <h2>Allan i brallan</h2>         
     </div>
      <div class="col-lg-4">
        <h2>Faulty Towers</h2>
      </div>
    </div>
  </div> <!-- /container -->
</div>