<script>
           
function initMapChurch() {
  //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

  var myLatLng = {lat: 56.293525, lng: 12.919066};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: myLatLng,
    draggable: !("ontouchend" in document)
  });

  setMarkers(map);
}
          
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.
var churchIcon = 'images/ChurchIcon.png'
var hotelIcon = 'images/BedIcon.png'
var partyIcon = 'images/PartyIcon.png'
var partyBedIcon = 'images/PartyBedIcon.png'

var livings = [
  ['Erikslund', 56.193904, 12.854848, 5, hotelIcon],
  ['Riverside Hotell', 56.242876, 12.863321, 2, hotelIcon],
  ['Valhallpark Hotell', 56.286594, 12.845615, 3, hotelIcon],
  ['Margretetorp', 56.335956, 12.889539, 4, partyBedIcon],
  ['Ängelholms Kyrka', 56.243424, 12.860100, 1, churchIcon],
  ['Kvinnaböske Krog & Hotell', 56.378692, 12.791793, 6, hotelIcon],
  ['Lilton Hotell', 56.243461, 12.857589, 7, hotelIcon]
];
 
function setMarkers(map) {
  // Adds markers to the map.
   
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };

  for (var i = 0; i < livings.length; i++) {
    var living = livings[i];
    
    // Origins, anchor positions and coordinates of the marker increase in the X
    // direction to the right and in the Y direction down.
    var image = {
      url: living[4],
      
      // This marker is 20 pixels wide by 32 pixels high.
      //size: new google.maps.Size(32, 32),
      
      // The origin for this image is (0, 0).
      origin: new google.maps.Point(0, 0),
      
      // The anchor for this image is the base of the flagpole at (0, 32).
      anchor: new google.maps.Point(0, 32)
    };
    
    // Shapes define the clickable region of the icon. The type defines an HTML
    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
    // The final coordinate closes the poly by connecting to the first coordinate.   
    var marker = new google.maps.Marker({
      position: {lat: living[1], lng: living[2]},
      map: map,
      icon: image,
      shape: shape,
      title: living[0],
      zIndex: living[3]
    });
  }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapChurch"></script>
<div class="row" >
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Boende</h1>
      <p class="lead">Nedan finner ni några hotell i Ängelholm med omnejd. Har man tänkt att stanna mer än en dag kan både Erikslund och Valhall Park rekomenderas då de omfattas av coop:s erbjudande</p>
      <p><div id="map" style="height:300px"></div></p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-4">
        <h2>Valhall Park</h2>
        <p>Valhall park finner ni strax väster om Ängelholm. Hotellet ingår i Coops hotellerbjudande och finns beläget på den gamla flygflotiljens område brevid Ängelholms flygplats</p>
        <p><img src="images/Valhallpark.jpg" alt="Margretetorp" style="width:100%;height:100%;"></p>
        <p><a target="_blank" class="btn btn-primary" href="http://hotelvalhallpark.se/" role="button">Hotellets Hemsida &raquo;</a></p>
        <p><a target="_blank" class="btn btn-primary" href="https://www.coophotellpremie.com/" role="button">Coop &raquo;</a></p>
        
      </div>
      <div class="col-sm-4">
        <h2>Riverside Hotell</h2> 
        <p>Mitt i centrum i hjärtat av ängelholm hittar man Riverside hotell. Här kan man völja att bo antigen i vanliga hotellrum eller så kan man dessutom välja lägenhet. Priser varierar efter efterfrågan men en sökning idag 10/4 får jag upp ett dubbelrum för 2 personer för 1280 SEK och en lägenhet för 4 personer för 1800 SEK</p>
        <p><img src="images/Riverside.jpeg" alt="Margretetorp" style="width:100%;height:100%;"></p> 
        <p><a target="_blank" class="btn btn-primary" href="http://www.hotelriverside.se/" role="button">Hotellets Hemsida &raquo;</a></p>         
      </div>
      <div class="col-sm-4">
        <h2>Erikslund</h2>
        <p>Erikslund ligger alldeles söder om Ängelholm, närmare bestämt vid den södra infarten från E6. Vill man göra sig extra fin inför festen, eller varför inte koppla av ordentligt efteråt, så kan man passa pa att ta en tur till hotellets egna SPA. Även detta hotell ingår i COOP:s hotelerbjudnde.</p>
        <p><img src="images/Erikslund.jpg" alt="Margretetorp" style="width:100%;height:100%;"></p>
        <p><a target="_blank" class="btn btn-primary" href="http://www.hotellerikslund.se/sv" role="button">Hotellets Hemsida &raquo;</a></p> 
        <p><a target="_blank" class="btn btn-primary" href="https://www.coophotellpremie.com/" role="button">Coop &raquo;</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>Margretetorp</h2>
        <p>Margretetorp är det perfekta valet för den som vill ha krypavstånd hem från festen. Ett standard rum kan man få från 1400 kr per natt ifall man bokar på hotellets hemsida</p>
        <p>
            <img class="logo visible-lg" src="images/large/margretetorp_lg.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-md" src="images/medium/margretetorp_md.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-xs" src="images/small/margretetorp_sm.jpg" alt="Margretetorp" style="width:100%;height:100%;">
        </p>
        <p><a target="_blank" class="btn btn-primary" href="http://www.margretetorp.se/sv/hotell/boka-online.aspx" role="button">Hotellets Hemsida &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2>Hotell Lilton</h2> 
        <p>Detta hotell finner ni på järnvägsgatan mitt i centrala Ängelholm, bara ett stenkast från kyrkan. Lilton är ett litet familjärt hotell inyst i ett sekelskifteshus</p>
        <p><img src="images/Lilton.jpg" alt="Margretetorp" style="width:100%;height:100%;"></p>
        <p><a target="_blank" class="btn btn-primary" href="http://www.hotell-lilton.se" role="button">Hotellets Hemsida &raquo;</a></p>      
     </div>
      <div class="col-sm-4">
        <h2>Kvinnaböske Krog & Hotel</h2>
        <p>Här är allt guld och gröna skogar. I fall man ska tro traktens kändis i alla fall. Dubbelrum från 1295 SEK</p>
        <p>
            <img class="logo visible-lg" src="images/large/kvinnaboske_lg.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-md" src="images/medium/kvinnaboske_md.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-xs" src="images/small/kvinnaboske_sm.jpg" alt="Margretetorp" style="width:100%;height:100%;">
        </p>
        <p><a target="_blank" class="btn btn-primary" href="http://www.kvinnaboske.se/" role="button">Hotellets Hemsida &raquo;</a></p> 
      </div>
    </div>
  </div> <!-- /container -->
</div>