<div class="row" >
 	<div class="container">
    	<div class="jumbotron">
     		<h1>Ängelholmsbröllop<h/1>	
      		<p class="lead">Välkommna till Matilda och Emils bröllopsida. För att ta del av informationen på sidan ombeds ni logga in med det användarnamn och lösenord som följde med i inbjudan 
      		</p>
		</div>
    	<div class="row" >
	    	<div class="col-sm-4" />
	    	<div class="col-sm-8">
	    		<h3>Logga in</h3>
	    		<br>
				<form ng-submit="vm.login()">
					<fieldset class="form-group">
				    	<label for="inputUser">Användarnamn</label>
				    	<br>		    		
				  		<input class="form-control" type="text" id="inputUsername" ng-model="vm.user.username"/>
				  	</fieldset>	
					<fieldset class="form-group">
				    	<label for="inputPassword">Lösenord</label>
				    	<br>
					  	<input type="password" class="form-control" id="inputPassword" ng-model="vm.user.password" />
					</fieldset>	
				 	<button type="submit" class="btn btn-primary pull-center">Login</button>
				  	</p>
				</form>
			</div>
		</div>
  	</div> 
</div>