<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a data-toggle="collapse" data-target=".navbar-collapse" class="navbar-brand" data-ui-sref="home.startpage">E <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> M</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home.church">Kyrkan</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home.party">Festen</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home.living">Boende</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home.application">Anmälan</a>
                </li>
            </ul>                
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" data-ui-sref="home.contact">Kontakta Oss</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a data-toggle="collapse" data-target=".navbar-collapse" ng-click="logout()" ng-show="$root.logged_in" data-ui-sref="home.login">Logga Ut</a>
                    <a data-toggle="collapse" data-target=".navbar-collapse" ng-show="!$root.logged_in" data-ui-sref="home.login">Logga In</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row" id="content">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div data-ui-view></div>
        </div>
    </div>
    <div class="row" id="footer">
        <hr />
        <p class="text-left">&copy; Emil o Matildas Bröllopssida - 2016</p>
    </div>

</div>