<script>
           
function initMapChurch() {
  //var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

  var myLatLng = {lat: 56.293525, lng: 12.919066};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: myLatLng,
    draggable: !("ontouchend" in document)
  });

  setMarkers(map);
}
          
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.
var partyIcon = 'images/PartyIcon.png'

var livings = [
  ['Margretetorp', 56.335956, 12.889539, 4, partyIcon]
];
 
function setMarkers(map) {
  // Adds markers to the map.
   
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };

  for (var i = 0; i < livings.length; i++) {
    var living = livings[i];
    
    // Origins, anchor positions and coordinates of the marker increase in the X
    // direction to the right and in the Y direction down.
    var image = {
      url: living[4],
      
      // This marker is 20 pixels wide by 32 pixels high.
      //size: new google.maps.Size(32, 32),
      
      // The origin for this image is (0, 0).
      origin: new google.maps.Point(0, 0),
      
      // The anchor for this image is the base of the flagpole at (0, 32).
      anchor: new google.maps.Point(0, 32)
    };
    
    // Shapes define the clickable region of the icon. The type defines an HTML
    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
    // The final coordinate closes the poly by connecting to the first coordinate.   
    var marker = new google.maps.Marker({
      position: {lat: living[1], lng: living[2]},
      map: map,
      icon: image,
      shape: shape,
      title: living[0],
      zIndex: living[3]
    });
  }
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMapChurch"></script>
<div class="row" >
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>Margretetorp</h1>
      <p class="lead">Margretetorp finner ni på Hallandsåsens södra sluttning. På denna plats ska det ha funnits ett gästgiveri ända sedan 1300-talet  <a href="http://www.margretetorp.se">Margretetorp</a> </p>
        <p>
            <img class="logo visible-lg" src="images/large/margretetorp_lg.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-sm" src="images/medium/margretetorp_md.jpg" alt="Margretetorp" style="width:100%;height:100%;">
            <img class="logo visible-xs" src="images/small/margretetorp_sm.jpg" alt="Margretetorp" style="width:100%;height:100%;">
        </p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-4">
        <h2>Allmän information</h2>
          <p>
            Är det så att man känner för att hålla tal eller göra något annat upptåg under middagen är det bra att anmäla detta till någon utav toastmastrarna i förväg så att de kan planera. Kontaktuppgifter 
          </p>
      </div>
      <div class="col-sm-4">
        <h2>Hitta till festlokalen</h2>
            <div id="map" style="height:300px"></div>
      </div>
      <div class="col-sm-4">
        <h2>Gemensam Transfer</h2>
          <p>
            Vi kommer ordna med gemensam transfer från Kyrkan till festlokalen för de som är intresserade. Bussen kommer avgå vid busshållsplatsen på Stortorget 
          </p>
      </div>
    </div>    
    <div class="row">
      <div class="col-sm-4">
        <h2>Toastmaster 1</h2>
          <p>
            Här kommer det komma lite information om vem som kommer vara toastmaster nr 1. 
          </p>
      </div>
      <div class="col-sm-4">
        <h2>Toastmaster 2</h2>
          <p>
            Här kommer komma lite information om vem som kommer vara toastmaster nr 2
          </p>
      </div>
    </div>
  </div> <!-- /container -->
</div>