<div class="row" >
  <div class="container">
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h2><b>Välkomna</b></h2>
      <p class="lead">Varmt välkomna till hemsidan som handlar om vårt bröllop! Här kommer vi löpande att presentera matnyttig information inför den stundande dagen D.</p>
      <p></p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-sm-4">
        <h2>Bröllopet</h2>
        <p>
        	Vigseln kommer att äga rum i Ängelholms Kyrka lördagen den 20 augusti klockan 16.30. Efter vigseln kommer vi att förflytta oss cirka 1 mil norr om Ängelholm för att tillsammans njuta av god mat och ett hejdundrande kalas på Margretetorp Gästgivargård. 
        </p>
      </div>
      <div class="col-sm-4">
        <h2>Resa till Ängelholm</h2>
        <p>Det finns många sätt att ta sig till Ängelholm på. Det går att komma hit med buss, bil, tåg eller flyg. Ängelholm ligger längs med E6:an och har goda tågkommunikationer. Ängelholms Kyrka ligger i centrala Ängelholm, på gångavstånd från stationen. Flygplatsen ligger lite utanför staden. Flygalternativet passar bäst för de som reser från Stockholmstrakten. Flygbuss, taxi och hyrbil finns tillgängligt.
      </div>
      <div class="col-sm-4">
        <h2>Om oss</h2>
        <p>Det har nu gått 10 år sen vi först träffade varann på den korridor som vi båda bodde på. Helt plötsligt försökte man tillbringa så mycket tid som möjligt i korridorens kök eller allrum ihopp om att den andre skulle vara där. Så nu tio år senare tyckte vi att det var dags att äntligen göra slag i saken och säga Ja till varandra i närvaro av våra vänner och bekanta</p>
       </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>Säg omelett!</h2>
        <p>
          <img src="images/Lena.jpg" alt="Lena" style="width:100%;height:100%;">
        </p>
        <p>
        Lena Evertsson heter kvinnan som kommer att följa med oss en stor del av dagen. Lena arbetar som fotograf och kommer ansvara för att föreviga bröllopsdagen i bilder (eftersom brudgummen själv inte kan göra det, nu när han ska vara med på bilderna). Hon kommer garanterat att få alla att fastna på bild, utan att det känns obekvämt. 
        <a target="_blank" href="http://www.ateljelena.se/">Läs mer om Lena</a> 
        </p>
        <br>
        <p>
        PS. även om Lena fotar, är vi jätteglada och tacksamma om ni också gör det. Och dela gärna med er av era bilder! =) 
        </p>
      </div>
      <div class="col-sm-4">
        <h2></h2>
        <p>
      </div>
      <div class="col-sm-4">
        <h2></h2>
        <p></p>
       </div>
    </div>        
  </div> <!-- /container -->
</div>